.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 64px;
  height: 54px;
  border-bottom: 1px solid black;

  background-color: #0d71bb;
  color: white;
}

.header-link {
  color: white;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

.nav-list-link {
  text-decoration: none;
  color: white;
}

.nav-list > Link {
  text-decoration: none;
  font-size: 14px;
}

.add-book-btn {
  background: none;
  padding: 1px !important;
  font-size: 15px;
  font-weight: bolder;

  border: none;
  color: white;
  cursor: pointer;
}
/* ---  MODAL STYLES  ---l*/

.modal-title {
  text-align: center;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 24px 0;
}

.modal-input-label {
  font-weight: bold;
}

.modal-input {
  height: 24px;
  font-size: 16px;
}

.modal-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-btn {
  background-color: #0d71bb;
}

.books-select-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 24px;
}

.book-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 16px 8px;
  border-bottom: 1px solid #ccc;
}

.book-select-container:last-child {
  border-bottom: none;
}

.book-select-title {
  margin-bottom: 8px;
}

.create-book-btn {
  background-color: #0d71bb;
  width: 56px;
}

.book-select-img,
.not-aval-img {
  width: 96px !important;
  height: 96px;
}

.modal-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  width: 32px;
  height: 32px;
  position: relative;
  background: white;
  left: -27%;
  cursor: pointer;
}
