.weather-display-heading-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  gap: 2rem;
}

.display-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.display-date {
  font-size: 3rem;
}

.display-city {
  font-size: 1.5rem;
}

.display-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-display-heading-img {
  width: 15rem;
  height: 15rem;
}

.display-condition {
  font-size: 2rem;
  font-weight: normal;
}

.today-weather {
  font-size: 8rem;
}
