.weather-card-container {
  color: #000;
  width: 17rem;
  height: 28rem;
}

.weather-card-container:nth-child(1) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 2.25s forwards;
}
.weather-card-container:nth-child(2) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 2s forwards;
}
.weather-card-container:nth-child(3) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 1.75s forwards;
}
.weather-card-container:nth-child(4) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 1.5s forwards;
}
.weather-card-container:nth-child(5) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 1.25s forwards;
}
.weather-card-container:nth-child(6) {
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -moz-animation-delay: 1s;
  animation: slideIn 1s forwards;
}

.weather-card-title {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.weather-card-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-card-img {
  width: 50%;
  height: 50%;
}

.weather-card-content {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding: 0.5rem;
}

.weather-card-content p {
  font-size: 1.5rem;
  font-weight: normal;
}

.weather-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
