.new-todo-container{
    margin-bottom: 2rem;
}

.input-containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-label{
    margin-bottom: .25rem;
    font-weight: bold;
    text-align: center;
}

.title-input{
    height: 2rem;
    font-size: 1.3rem;
}

.todo-description-input{
    grid-column: 1 / span ;
}

.select{
    height: 2.3rem;
    font-size: 1.5rem;
}

.confirm-btn{
    justify-self: center;
    align-self: center;
    width: 25%;
    height: 2rem;
}