.todo-card {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0.5rem;
  max-height: 5rem;
  min-height: 5rem;
  width: 70%;
  border-radius: 13px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-title {
  margin: 0;
  white-space: nowrap;
  overflow: scroll;
}

.todo-description {
  margin: 0;
}

.todo-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
}

.todo-btn {
  font-size: 1.25rem;
}

.todo-btn:first-child {
  background-color: #ff0000;
}

.todo-btn:nth-child(2) {
  background-color: #00bbff;
}

.edit-todo-input,
.edit-todo-input:focus {
  height: 2.2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  border: none;
}

@media (max-width: 1600px) {
  .todo-card {
    min-height: 6rem;
  }

  .todo-title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    height: 2.5rem;
  }
}

@media (max-width: 1201px) {
  .todo-card {
    min-height: 6rem;
  }

  .todo-buttons {
    justify-content: end;
    align-items: end;
  }
}

@media (max-width: 1001px) {
  .todo-card {
    min-height: 8rem;
  }

  .todo-btn:last-child {
    font-size: 1rem;
    height: 1.75rem;
  }
}
