.grid--2-cols-uneven {
  grid-template-columns: 1fr 2fr;
}

.create-todo-container {
  position: absolute;
  width: 67%;

  border: 1px solid #0000;
  box-sizing: border-box;

  padding: 0 40px;
  padding-bottom: 48px;

  background-color: #00ccff;
  margin-top: 56px;
}

.create-todo-title {
  color: white;
  text-align: center;
}

.input-fields-container {
  gap: 15px;
  justify-content: space-between;
}

.input-field-label {
  color: white;
  font-weight: bold;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-title-input {
  width: 95%;
  height: 40px;
}

.title-field {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.priority-field {
  align-items: center;
  margin-right: 5%;
}

.title-input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-field {
}

.todo-content-input {
  height: 200px;
}

.create-todo-button-container {
  position: relative;
  left: 80%;
  margin-top: 24px;
}

.submit-create-todo-button {
  font-size: 32px;
  color: white;
  background: none;
  text-decoration: none;
  padding: 8px;
}

.submit-create-todo-button:hover,
.submit-create-todo-button:active {
  background-color: #090954;
  text-decoration: none;
}
