.header {
  margin: 6px 0;
  height: 170px;

  border: 0.1px solid #0000;

  align-items: center;
  justify-content: space-around;

  background-color: #00ccff;
}

.page-title {
  text-align: center;
  font-size: 48px;
  color: white;
}

.button-container {
  display: flex;
}

.home-button {
  color: white;
  font-size: 24px;
  background: none;
  text-decoration: none;
}
