.todo-list-container {
  margin-top: 56px;
  height: auto;
  max-width: auto;
  border: 1px solid #0000;
  box-shadow: -1px 6px 6px rgba(0, 0, 0, 0.575);

  background-color: #00ccff;
}

.box-title {
  margin-bottom: 16px;
  text-align: center;
  color: white;
}

.todo-list-header-controls {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.todo-search-bar {
  width: 400px;
  margin-left: 24px;
}

.create-todo-button {
  top: -5%;
  left: -40%;
  text-decoration: none;

  font-size: 32px;
  color: white;
  margin-right: 64px;
}

.todo-container {
  border: 1px solid black;
  border-radius: 9px;

  margin: 54px;
  padding: 12px 12px;

  background-color: rgb(53, 53, 53);
  box-shadow: -1px 6px 6px rgba(0, 0, 0, 0.575);

  color: white;
}

.todo-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* top: 50%; */
}

.todo-title {
  font-size: 32px;
}

.button-container {
  align-items: center;
  gap: 24px;
}

.todo-edit-btn,
.todo-delete-btn {
  font-size: 24px;
  height: 36px;
  color: white;

  background: none;
}
