.create-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 24px;
}

.create-new-todo-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border: 1px solid #ccc;
  width: 400px;
  height: 100px;
  padding: 16px;
}

.create-new-functions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.create-new-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-todo-title {
  margin-bottom: 8px;
  margin-top: 0;
}

.create-todo-input {
  height: 24px;
  width: 90%;
  font-size: 16px;
}

.add-todo-btn {
  font-size: 20px;
}
