.dashboard-container {
  margin: 54px auto auto;

  width: 1400px;
  height: 1000px;

  /* border: 1px solid #ccc; */
  border-radius: 9px;

  /* box-shadow: 1px 24px 12px rgba(0, 0, 0, 0.5); */
}

.dashboard-title {
  text-align: center;
  margin-top: 128px;
}

.add-new-btn {
  border: none;
  font-size: 24px;
}

.search-todos-btn {
  border: none;
}

.todo-functions-placeholder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-functions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  margin: 12px;
  margin-right: 48px;
  width: 50%;
}

.search-container {
  display: flex;
  gap: 8px;
}

.todo-search-bar {
  height: 24px;
  width: 80%;
}

.lists-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 700px;
  padding-bottom: 32px;
  margin-top: 40px;
}

.completed-todo-list,
.active-todo-list {
  border: 1px solid #ccc;
  border-radius: 11px;
  width: 45%;
  max-height: 650px;

  overflow-y: auto;
}

.create-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .lists-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .completed-todo-list,
  .active-todo-list {
    width: 95%;
  }

  .todo-list-title {
    grid-column: span(1);
  }
}
