.footer {
  padding: 6.4rem 0;
  border: 1px solid #eee;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.address,
.email,
.phone-number {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.footer-nav-el:link,
.footer-nav-el:visited {
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-nav-el:hover,
.footer-nav-el {
  color: #555;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  list-style: none;

  margin-top: 1.6rem;

  height: 4.8rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
