.section-pricing-features {
  padding: 6.4rem 0;
}

.pricing-plan {
  background-color: #f4dac5;
  padding: 3.2rem 3.2rem;
  border-radius: 11px;
  width: 75%;
  transition: all 0.5s;
}

.pricing-plan:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.pricing-plan:first-child {
  justify-self: end;
  background-color: white;
  border: 1px solid #f8d8bd;
  padding: 3rem 3rem;
}

.pricing-plan-complete {
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: 'Best Value';
  position: absolute;
  text-transform: uppercase;

  font-size: 1.4rem;
  font-weight: 700;

  top: 6%;
  right: -9%;

  padding: 0.8rem 3.2rem;

  background-color: #ffdd64;
  color: #333;

  transform: rotate(45deg);
}

.pricing-plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.pricing-plan-price {
  font-weight: 600;
  font-size: 6.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.pricing-plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.pricing-plan-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #777;
}

.pricing-plan-btn {
  text-align: center;
  margin-top: 3.2rem;
}

.feature ion-icon {
  margin-bottom: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  background-color: #f4dac5;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
